<ion-header>
  <ion-toolbar>
    <ion-title>Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title> {{id ? 'Editar' : 'Criar'}} Tarefa</ion-card-title>
    </ion-card-header>
    
    <form>
        <ion-grid>
          <ion-row>
                  
                <ion-col>
                     <ion-item>
                        <ion-label  floating> <ion-icon item-left name="person"></ion-icon> </ion-label>
                        <ion-input  placeholder="Digite o nome" [(ngModel)]="todo.name" name="name" ></ion-input>
                      </ion-item>


                </ion-col>
            </ion-row> 
            <ion-row>
                  
              <ion-col>
                   <ion-item>
                      <ion-label  floating> <ion-icon item-left name="person"></ion-icon> </ion-label>
                      <ion-input  placeholder="Digite a descrição" [(ngModel)]="todo.notes" name="notes" ></ion-input>
                    </ion-item>


              </ion-col>
          </ion-row> 

        </ion-grid>
        
        <ion-list padding>
                <ion-button  *ngIf="!id" [routerLink]="['/list']">Cancelar</ion-button>
                <ion-button  *ngIf="id" [routerLink]="['/details', id]">Cancelar</ion-button>
                <ion-button  (click)="addTodo()" *ngIf="!id"> Criar</ion-button>
                <ion-button  (click)="updateTodo()" *ngIf="id"> Salvar</ion-button>
        </ion-list>
    </form>

    </ion-card>
</ion-content>
